@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

body{
    overflow-x: hidden;
    font-family: roboto;
    scroll-behavior: smooth;
}
.headPlusHome{
    /* background: linear-gradient(#0d3875,#3498DB); */
    color: #080d14;
}
.headPlusHome .headSection{
    background-color: #fff;
    padding: 0% 2.5%;
    top: 0;
    position: sticky;
    z-index: 333;
    box-shadow: 0 0 10px #eee;
}
.headPlusHome .headSection .headContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headPlusHome .headSection .headContent .navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.headPlusHome .headSection .headContent  .navMenu ul{
    list-style-type: none;
}
.headPlusHome .headSection .headContent  .navMenu ul li {
    display: inline-block;
    padding: 10px 20px;
}
.headPlusHome .headSection .headContent  .navMenu ul li a{
    color: #0d3875;
    text-decoration: none;

}
.headPlusHome .headSection .headContent  .navMenu .callBtn a{
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #0d3875;
    border-radius: 5px;
}
.headPlusHome .headSection .headContent h1{
    width: 100px;
}
.headPlusHome .headSection .headContent img{
    width: 100%;
}
.headPlusHome .homeSection .homeContent{
    height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.headPlusHome .homeSection .homeContent .homeContentTXT {
    display: grid;
    gap: 10px;
    color: #0d3875;
}
.headPlusHome .homeSection .homeContent .homeContentTXT h1 span{
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
}
.headPlusHome .homeSection .homeContent .homeContentTXT h4 span{
    font-size: 1.3rem;
    font-family: cursive;
    font-weight: 400;
}
.headPlusHome .homeSection .homeContent .homeContentTXT p{
    font-size: 1rem;
    font-weight: 200;
    font-family: cursive;
}
.headPlusHome .homeSection .homeContent .homeContentTXT p a{
    background-color: #FF6F61;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
}
.storySection .storyContent{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storySection .storyContent .storyContentBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    background-color: #0d3875;
    padding: 5%;
    border-radius: 10px;
    color: white;
}
.storyContent .storyContentBox .storyContentBoxTXT{
    display: grid;
    gap: 10px;
}
.storyContent .storyContentBox .storyContentBoxTXT p i{
    display: block;
    font-size: 3rem;
}
.storyContent .storyContentBox .storyContentBoxTXT p span{
    width: 50%;
    display: block;
}
.storyContent .storyContentBox .storyContentBoxIMG{
    width: 40%;
}
.storyContent .storyContentBox .storyContentBoxIMG img{
    width: 200px;
    /* border-radius: 50%; */
    display: block;
}
.aboutSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 2.5%;
    background-color: #eee;
}
.aboutSection .aboutContent{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 80%;
    margin: 0 auto;
}
.aboutSection .aboutContent .aboutTXTBox{
    display: grid;
    gap: 20px;
}
.aboutSection .aboutContent .aboutTXTBox h1{
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
}
.aboutSection .aboutContent .aboutTXTBox p{
    font-size: 1.2rem;
    font-family: cursive;
}
.aboutSection .aboutContent .aboutTXTBox p a{
    background-color: #FF6F61;
    color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 7px;
}
.serviceSection{
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceSection .serviceContent{
    width: 80%;
    margin: 0 auto;
}
.serviceSection .serviceContent h1{
    text-align: center;
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
}
.serviceSection .serviceContent .serviceBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.serviceContent .serviceBox .serviceBoxTXT{
    padding: 10%;
    display: grid;
    gap: 10px;
    text-align: center;
    border: 1px solid #080d14;
    border-radius: 7px;
    box-shadow: 0 0 10px #edf1f5;
}
.serviceContent .serviceBox .serviceBoxTXT i{
    font-size: 3rem;
}
.serviceContent .serviceBox .serviceBoxTXT h4{
    font-size: 1.3rem;
}
.serviceContent .serviceBox .serviceBoxTXT p span{
    font-size: 1.2rem;
    transform: translateY(100%);
    /* display: none; */
    /* transition: .5s ease; */
    /* opacity: 0; */
}
.portSection{
    padding: 5% 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portSection .portContent{
    width: 80%;
    margin: 0 auto;
}
.portSection .portContent h1{
    text-align: center;
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
}
.portSection .portContent .portBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.portContent .portBox .portBoxTXT img{
    width: 100%;
}
.testiSection{
    padding: 5% 2.5%;
}
.testiSection .testiContent h1{
    text-align: center;
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
}
.testiSection .testiContent .testiBox{
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid #080d14; */
    background-color: #FF6F61;
    padding: 2.5%;
    text-align: center;
    color: #fff;
    display: grid;
    gap: 20px;
}
.testiSection .testiContent .testiBox .profileImg{
    width: 50px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
}
.testiSection .testiContent .testiBox img{
    width: 100%;
}
.testiSection .testiContent .testiBox p{
    width: 80%;
    margin: 0 auto;
}
.contactSection{
    background-color:#3498DB;
    padding: 5% 2.5%;
}
.contactSection h1{
    font-style: 8rem;
    font-weight: 800;
    font-family: "Baloo Paaji 2", sans-serif;
    text-align: center;
}
.contactSection .contactContent{
    width: 60%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.contactSection .contactContent .contactTheme img{
    width: 100%;
    object-fit: cover;
}
.contactSection .contactContent form{
    display: grid;
    gap: 10px;
}
.contactSection .contactContent form input{
    background-color: #0d3875;
    color: white;
    padding: 10px;border: 1px solid white;
    font-size: 1rem;
    font-weight: 100;
}

.contactSection .contactContent form textarea{
    background-color: #0d3875;
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid white;
    color: white;
}
.contactSection .contactSocial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactSection .contactSocial .socialIcons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.contactSection .contactSocial .socialIcons p .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 20px;
}
