@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
body{
    font-family: roboto;
}
p a, input[type="submit"]{
    background-color: #FF6489;
    color: #fff;
    border: 1px solid #FF6489;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 20px ;
    text-decoration: none;
}
p a:focus{
    color: #000;
}

/* Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles Service styles */
.serviceHome{
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("/assets/img/port.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceHome .serviceHomeTXT{
    display: grid;
    gap: 10px;
    width: 50%;
}
.serviceHome .serviceHomeTXT1 h1{
    font-size: 2rem;
    color: #ff6489;
}
.serviceHome .serviceHomeTXT2 h1{
    border-bottom: 1px solid #ff6489;
    font-size: 4rem;
    color: #ff6489;
}
.serviceHome .serviceHomeTXT2 h1 span{
    font-size: 1rem;
    color: #ccc;
    
}
.serviceHome .serviceHomeTXT p{
    color: #ccc;
}
.serviceHome .serviceHomeTXT p span{
    /* color: #FF6489; */
}
.helpSection{
    color: #282C4B;
}


/* Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles Resources styles */

.recentSection .recentBoxTXT{
    display: grid;
    gap: 10px;
}
.recentSection .recentBoxIMG img{
    width: 100%;
}
.recentBoxTXT .shareBTN{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 30%;
}
.allBlogSection {
    background-color: #282C4B;
    color: #fff;
}
.allBlogSection .allBlogBOX img{
    width: 100%;
}
.contaSection form{
    display: grid;
    gap: 10px;
    
}
.contaSection form input[type="text"]{
    background-color: #FFF8F8;
    padding: 2%;
    color: #000;
    box-shadow: 0 10px 30px #eee;
}
.contaSection form textarea{
    background-color: #FFF8F8;
    resize: none;
    padding: 2%;
    overflow-y: hidden;
    min-height: 40px;
    box-shadow: 0 10px 30px #eee;
}
.contaSection form input[type="submit"]{
    width: 30%;
    box-shadow: 0 10px 30px #eee;
}

/* Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles Story styles  */

.storyThemeSection{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/assets/img/port.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;  
}
.storyThemeSection .storyThemeTXT{
    width: 50%;
    height: 50vh;
}
.storyBOXSection{
    color: #282C4B;
}
.storyBOXSection .storyBOXContentTXT{
    display: grid;
    gap: 10px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}