@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
body{
    font-family: roboto;
}
p a, input[type="submit"]{
    background-color: #FF6489;
    color: #fff;
    border: 1px solid #FF6489;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 20px ;
    text-decoration: none;
}
p a:focus{
    color: #000;
}
.homeSection{
    background: linear-gradient(#fff, #6489ff);
    /* background-color: ; */
}
.homeSection .homeContent{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeSection .homeContentBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeSection .homeContentBox .homeContentBoxTXT{
    /* padding-right: 10%; */
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    text-align: justify;
}
.homeSection .homeContentBox .homeContentBoxTXT p{
    font-size: 1rem;
    color: #555;
}
.homeSection .homeContentBox .homeContentBoxTXT .orangeSpan{
    color: orange;
}
.homeSection .homeContentBox .homeContentBoxTXT h1{
    font-size: 2rem;
}
.homeSection .homeContentBox .homeContentBoxIMG{
    flex-basis: 45%;
}
.homeSection .homeContentBox .homeContentBoxIMG img{
    width: 100%;
}
.aboutContent .container h4{
    text-align: center;
    color: #555;
}
.aboutContent .container > p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #555;
}
.adLeadSection{
    background-color: #282C4B;
    color: #fff;
}
.adLeadSection .adLeadContent .container .adRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adLeadSection .adLeadContent .adLeadTXT{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.adLeadSection .adLeadContent .adLeadTXT ul li{
    list-style-type: none;
}
.serviceContent .container .col{
    position: relative;
    /* background-image: url("/assets/img/port.jpg");
    width: 300px;
    height: 300px; */
    /* padding: ; */
}
.serviceContent .container .col img{
    width: 100%;
}
.serviceContent .container .col .overlay{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #282C4B;
}
.serviceContent .container .col .themeContent{
    display: grid;

    /* justify-content: center; */
    align-items: center;
}
.testiSection{
    background-image: url('/assets/img/Group\ 9142\ \(1\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.testiSection .carousel{
    box-shadow: 5px 10px 50px #FF6489;
    background-color: #FF6489;
    max-width: 50%;
    margin: 0 auto;
    color: #fff;
}
.testiSection .reviewBOX{
    /* background-color: #282C4B; */
    /* display: flex; */
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.testiSection .reviewBOX img{
    width: 50px;
}
.contaSection form{
    display: grid;
    gap: 10px;
    
}
.contaSection form input[type="text"]{
    background-color: #FFF8F8;
    padding: 2%;
    color: #000;
    box-shadow: 0 10px 30px #eee;
}
.contaSection form textarea{
    background-color: #FFF8F8;
    resize: none;
    padding: 2%;
    overflow-y: hidden;
    min-height: 40px;
    box-shadow: 0 10px 30px #eee;
}
.contaSection form input[type="submit"]{
    width: 30%;
    box-shadow: 0 10px 30px #eee;
}

.blogContent .container .d-flex{
    justify-content: space-between;
}
.blogContent .container .d-flex .themeBlog{
    display: grid;
    /* gap: 10px; */
    width: 40%;
}
.blogContent .blogPosts{
    flex-basis: 50%;
}
.blogContent .postBOX a {
    display: block;
    padding: 5%;
}
.blogContent .postBOX img{
    width: 100%;
}
.footerSection{
    background-color: #282C4B;
    color: #fff;
}
.footerSection .container{
    justify-content: space-between;
}
.footerSection p a{
    background-color: transparent;
    padding: 0;
    border: 0;
}
